@import "tailwindcss";


@theme{
  --font-monoton: "Monoton",sans-serif;
  --font-dm: "DM Mono", monospace
}

@layer base {
  input[type="search"]::-webkit-search-cancel-button{
    display: none;
  }
}
